<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <style>
    body { padding-top: 60px; }
  </style>
</head>
<body>
  <div class="container">
  </div>
</body>
<script src="main.js"></script>